{% extends 'base.html' %}

{% block title %}Detalle de Carga - GSL{% endblock %}

{% block content %}
<div class="container mt-5 bg-light">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center text-dark">
          <h3>Detalle de Carga</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p class="mb-3"><strong>Nombre del Cliente:</strong> {{ carga.nombre_cliente }}</p>
              <p class="mb-3"><strong>Tipo de Carga:</strong> {{ carga.tipo_carga }}</p>
              <p class="mb-3"><strong>BL/Guía:</strong> {{ carga.bl_guia }}</p>
              <p class="mb-3"><strong>Naviera:</strong> {{ carga.naviera }}</p>
              <p class="mb-3"><strong>Actividad de Carga:</strong> {{ carga.actividad_carga }}</p>
            </div>
            <div class="col-md-6">
              <p class="mb-3"><strong>Fecha de Arribo:</strong> {{ carga.fecha_arribo }}</p>
              <p class="mb-3"><strong>Vencimiento de Almacenaje:</strong> {{ carga.vencimiento_almacenaje }}</p>
              <p class="mb-3"><strong>Estado Actual:</strong> {{ carga.estado_actual }}</p>
            </div>
          </div>
          <div class="mt-3 d-flex justify-content-center">
            <a href="{% url 'lista_papeleria_cargo' carga.id %}" class="btn btn-primary mx-1">Ver Papelería de Carga</a>
            <a href="{% url 'lista_gastos_cargo' carga.id %}" class="btn btn-primary mx-1">Ver Gastos de Carga</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
